{
  // Bot configuration
  "bot": {
      "token":"Bot-Token",
      "prefix": "!",
      "debug": true
  },
  "mynt": {
    "paytxfee": .01,
    "config": {
      "port": 7774,
      "user": "myntrpcuser",
      "pass": "myntrpcpass-do-not-use"
    }
  },
  
  "moderation":{
  "pm2Name": "Mynt-TipBot",
   // Roles that have access to all commands.
  "perms": ["Admin","Moderator","Community Leader","Bots"],
  // Bot Devs!
  "botDev": "DreadedZombie",
  // Channel to log the bots moderation..
  "logchannel": "575569258046554112",
  //channel that the tip message will reply in if Multi or Role tip is used.
  "botspamchannels": ["575569198768586752"]
  }
}
